@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

:root {
  /* Color Pallete */
  --bg-color: #f7f9f9;
  --primary-color: #272932;
  --secondary-dark-color: #3a5f7e;
  --secondary-dark-hover: #426e92;
  --secondary-light-color: #5992c3;
  --secondary-lght-hover: #5085b3;
  
  --primary-text: #333333;
  --secondary-text: #696969;
  --text-danger: #cb2431;

  --clr-white: #ffffff;
  --clr-white-2: #f7f7f7;
  --clr-gray: #313131;
  --clr-light-gray: #bdbdbd;

  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  --common-transition: all linear 0.3s;
}

html {
  background-color: var(--bg-color);
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Common styles across views */

.card-base{
  background-color: white;
  box-shadow: var(--dark-shadow);
  border-radius: 2.1rem;
}

.base-btn{
  padding: 0.5rem 1rem;

  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: white;

  background: var(--secondary-color);
  border-color: transparent;
  outline: none;
  border-radius: 0.4rem;

  cursor: pointer;
}

.primary-btn{
  background-color: var(--secondary-dark-color);
}

.primary-btn:hover{
  background-color: var(--secondary-dark-hover);
}

/* Main wrapper */

.main-wrapper {
  background-color: var(--bg-color);
  flex-grow: 1;
}